# Task 1  : Pattern Programs

# Registration Id :- SIRSS1085

# Name : Harsha Kumari

# Q1
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [1]:
n=int(input("rows : "))
for i in range(0,n+1,1):
    for j in range(0,n-i,1):
        print('5' , end=' ')
    print()

rows : 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# Q2
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [5]:
n=int(input("rows ?"))
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=' ')
    print()

rows ?5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# Q3
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [9]:
rows=int(input("Rows ?"))
i=1
while i <= rows:
    j=1
    while j<= i:
        print((i*2-1) , end=' ')
       
        j+=1
    i+=1
    print()

Rows ?5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# Q4
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [16]:
i=6
for i in range(1,i):
    for j in range(i,0,-1):
       print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Q5
1 
3 2
6 5 4
10 9 8 7

In [3]:
beg=1
end=2
set=end
for row in range(2,6):
    for com in range(beg,end):
        set -=1
        print(set,end=' ')
    print("")
    beg=end
    end +=row
    set=end

1
3 2
6 5 4
10 9 8 7

# Q6
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [6]:
rows = int(input("Enter the number of rows : "))
for i in range(0, rows):
    coff = 1
    for j in range(1, rows-i):
        print("", end="")
    
    for k in range(0, i+1):
        print("", coff, end="")
        coff = int(coff * (i - k) / (k + 1))
    print()

Enter the number of rows : 7
 1
 1 1
 1 2 1
 1 3 3 1
 1 4 6 4 1
 1 5 10 10 5 1
 1 6 15 20 15 6 1

# Q7.
1 2 3 4 5 
2 2 3 4 5 
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [7]:
n=int(input("rows?"))
for i in range(1,n+1):       
    for j in range(1,n+1):   
          if j<=i:
                print(i,end=' ')
          else: 
                print(j,end=' ')
    print()

rows?5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# Q8
1
2 4
3 6  9
4 8  12 16
5 10 15 20 25 
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 54 64

In [11]:
n = 8

for i in range(1, n + 1):
    for j in range(1, i + 1):
        sq = i * j
        print(i * j, end='  ')
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

# Q9
         * * * * * 
          * * * * 
           * * * 
            * * 
             *

In [12]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

# Q10
            *   
           *  *   
          *  *  *   
         *  *  *  *   
        *  *  *  *  *   
       *  *  *  *  *  *   
      *  *  *  *  *  *  *

In [14]:

len = 7
n = (2 * len) - 2
for i in range(0, len):
    for j in range(0, n):
        print(end=" ")
 
    n = n - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

# Q11.
solution:

In [15]:
n = 6
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(n + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# Q12

In [16]:
n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q13

In [17]:
n = 5
i = 1
while i <= n:
    j = i
    while j < n:
       
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n
while i >= 1:
    j = i
    while j <= n:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [18]:

n = 5
i = 0
while i <= n - 1:
    j = 0
    while j < i:
        
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# Q15

In [19]:
n = 14
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*